.card-title {
    font-weight: bold; 
    color: white;
    text-transform: uppercase;
    padding: 2px;
    background: blueviolet;
    text-align: center;
    font-size: 10px;
}
.card-content {
    text-align: center;
    padding: 5px;
    border: 1px solid blueviolet;
    border-top: 0;
}

.card-content-title {
    font-weight: bold;
}

span.highlighted-text {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.list-row-date {
    font-weight: bold; 
}

.list-row {margin-bottom: 10px;background: #008080ad;}

.list-row-content {
    padding-left: 0 !important;
    margin-left: -10px !important;
}
.expense-total {
    font-size: 20px;
    padding: 4px;
    display: block;
    background: #3a0505;
    color: beige;
}
.lrd-labels {
    border-top: 1px solid;
}

.lrd-main {
    padding: 10px;
    background: darkred;
    color: beige;
}
.head-title {
    padding: 12px;
    background: white;
    font-size: 20px;
    color: #580e58;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
} 
.list-section {
    padding: 0 12px;
    padding-top: 12px;
}
.form-wrap {
    padding: 1em;
    margin-top: 1em;
    background: beige;
}
.form-header {
    margin-bottom: 1em;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.ls-form--search {
    padding: 1em; 
    background: #0080801f;
}
.ls-misc--detail {
    padding: 4px;
    background: beige;
    /* margin-top: 10px; */
}
.ls-form-wrap {padding: 1em;margin-top: 10px;background: beige;}

.main-head {
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px;
    background: black;
    color: beige;
    font-family: monospace;
}

.sub-head {
    padding: 10px;
    background: #000000ba;
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
    color: beige;
    border-bottom: 1px solid beige;
}

.sub-head span {
    padding: 4px;
    background: black;
}
.lsm-detail-unit { 
    border-top: 1px solid beige;
    background: #0080801f;
}

.lsm-detail-unit-header {
    font-weight: bold;
    background: blueviolet;
    color: white;
    padding:4px;
}

.lsm-detail-unit-list li {
    padding: 4px;
    background: black;
    color: white;
    border-bottom: 1px solid beige;
}

span.unit-value {
    float: right;
    background: yellow;
    padding: 0 8px;
    color: black;
    border-radius: 4px;
}
.form--search .row {margin: 0;}

.search-wrap {
    padding: 10px;
    background: white;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

form.form--search {}
.list-content-wrap {
    padding: 0 10px 0 10px !important;
}
ul.lrd-unit-list {
    margin: 0;
    font-weight: bold;
    display: grid;
}

ul.lrd-unit-list li {margin-bottom: 10px;padding:2px;}

span.lrd-unit-value {
    padding: 0 4px;
    border-radius: 4px;
    float: right;
    background: lawngreen;
    color: black;
}
span.lrd-unit-title {
    color: black;
}
.lrc-unit {
    padding: 10px;
}

.lrc-unit-title {
    padding: 4px;
    background: blueviolet;
    text-align: center;
    color: white;
}

.lrc-unit-content {
    padding: 4px;
    background: #8a2be278;
    text-align: center;
    color: beige;
}

.lrc-unit-content-title {
    font-weight: bold;
    background: #8a2be23b;
}
.lsm-detail-sumary .lsm-detail-unit-header {
    background: darkslateblue;
    color: beige;
    border-bottom: 1px solid beige;
}
.fw-unit {
    margin-bottom: 1em;
}
ul.lsm-detail-unit-list {
    margin: 0;
}
ul.lrd-unit-list li {
    margin: 0;
    padding: 1px 4px;
}
.list-row-date {
    padding: 0 !important;
}
.lsm-detail-unit-header.total-balance {
    background: mediumvioletred;
}
.footer-link-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: white;
    border-top: 1px solid lightgrey;
}
.main-section {
    background: white; 
}

.top-bar-wrap {
    padding: 8px;
    overflow: hidden;
}

.footer-link-list ul {
    display: flex;
}

.footer-link-list li a span {
    display: block;
}

.footer-link-list li {
    width: 20%;
    text-align: center;
}

.footer-link-list li a.active {color: darkmagenta;}

.footer-link-list li a {
    color: #0000009c;
}
.tb-welcome {
    font-size: 20px;
}
.stats-wrap {
    padding: 8px;
    color: white;
}

.sw-title-wrap {
    padding: 8px;
}

.swt-title-body span {
    font-weight: bold;
    font-size: 1.5em;
}
.footer-float-section {
    position: fixed;
    width: 100%;
    bottom: 44px;
    z-index: 99;
}

a.ffs-btn {
    padding: 25px 15px 12px 15px;
    background: linear-gradient(45deg, #4c124c, #580458, #b99fa2);
    border-radius: 2em;
    width: 55px;
    box-shadow: 0px 0px 2px 1px grey;
    color: white;
}
.list-header {padding: 12px 0;font-size: 1em;color: #b3b3b3;font-weight: bold;}
.media-body {
    float: right;
}
.media-image span {
    display: block;
    padding: 12px;
    background: #ededed;
    border-radius: 1em;
    color: blueviolet;
    width:48px;
}
.mb-title {
    font-weight: bold;
    font-size: 14px;
}

.mb-sub-title {
    color: grey;
}

.mbc-main {
    font-weight: bold;
}

.mbc-sub-conent {
    color: grey;
}
.subcat-row li {
    padding: 10px 0;
}
.footer-section {
    position: relative;
    height: 80px;
}
.ec-1-form {
    position: fixed;
    width: 100%;
    bottom: 65px;
    padding: 10px;
}
.ec-1-form.addExpenseForm h5 {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: bold;
    padding: 20px;
}

a.ffs-btn.open {
    background: linear-gradient(0deg, #4c124c, #580458, #b99fa2);
}
.addExpenseForm form {padding: 25px;background: white;border-radius: 1em;}
span.swt-date {
    display: block;
    padding: 2px;
    text-align: center;
    background: white;
    border-radius: 4px;
    margin-bottom: 1px;
    color: #721c24;
    font-size: 14px;
    font-weight: bold;
}
span.tbw-user-name {padding: 8px;color: darkred;}
.cw-content.row {
    text-align: center;
}

.info-badge {
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

span.info-badge.totalExpense {
    color: red;
}

span.info-badge.totalInvestment {
    color: orange;
}

.category-wrap {
    padding: 12px;
    padding-bottom: 6px;
}

span.info-badge.totalIncome {color: lightgreen;}
span.info-icon {
    float: left;
}
.totalExpenseIcon {
    color: red;
}

span.info-icon.totalInvestmentIcon {
    color: orange;
}

.incomeIcon {
    color: lightgreen;
}
.input-field {
}
button#lsCancel, button#lsReset {
    float: right;
}
button#lsReset {
    margin-left: 10px;
}
.info-group {
    float: left;
    width: 33%;
}

.cwsb-unit {
    overflow: hidden;
    padding: 4px;
    background: #5e045e;
    color: white;
}
.active.cwTotalExpense {
    border-bottom: 1px solid red;
}

.active.cwTotalInvestment {
    border-bottom: 1px solid orange;
}

.active.cwTotalIncome {
    border-bottom: 1px solid lightgreen;
}
.ec-1-form-wrapper {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 65px;
    width: 100%;
    background: #000000ad;
    z-index: 0;
}
.form-input-row .input-field {
    float: left;
    width: 50%;
    padding: 5px;
}

.form-input-row {
    overflow: hidden;
}
span.input-label {
    font-size: 12px;
    color: #4c124c;
}

.btn-field {
    padding: 5px;
    padding-top: 18px;
    overflow: hidden;
}
.btn-field .btn {
    font-size: 12px;
}

.form-input-row .input-field input, .form-input-row .input-field select {
    font-size: 14px;
}

.swt-info-unit {
    float: right;
    padding: 4px;
    color: yellow;
    font-size: 12px;
    font-weight: bold;
}

.info-wrap {
    overflow: hidden;
    padding: 0 12px;
    text-transform: uppercase;
    background: #00000012;
}

.overview-section {
    background: linear-gradient(45deg, #4c124c, #580458, #b99fa2);
    border-radius: 1em;
}
.swt-info-unit.unit-2 {
    color: magenta;
}
.badge.variable-badge {
    padding: 8px;
    border: 1px solid #4c124c;
    border-radius: 1em;
}
.tb-action, .tb-reset {
    float: right;
    margin: 6px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 6px;
    padding-bottom: 0;
}
.active.badge.variable-badge {
    background: #4c124c;
    color: white;
    border: 1px solid black;
}